# ALL ABOUT CHESS

### Francisco Morales, Kevin Peachey

Imports:

In [152]:
import pandas as pd

#### EDA

In [153]:
df = pd.read_csv("games.csv")
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

#### Naive Engine

moves_list represents the move string tokenized for easier operations.

In [154]:
df['moves_tok'] = df['moves'].str.split()

Returns a DataFrame of all games that start with the given set of moves.

In [155]:
def games_with_moves(moves, games):
    new_games = games.copy()
    move_count = len(moves)
    
    # Any game that does not start with the given moves gets deleted from the df
    for row in games.iterrows():
        if (row[1]['moves_tok'][:move_count] != moves):
            new_games.drop(row[0], inplace=True)
            
    return new_games

eval_position searches for games in the database with the given position, then returns the average score value for those games. For an individual game, the score value is +1 if white won, -1 if black won, and 0 if the game ended in a draw. This average gives an indication of which player is expected to win in the given position.

In [156]:
def eval_position(move_str, df):
    count = 0; score = 0;
    for row in df.iterrows():
        row = row[1]
        if (str(row['moves']).find(move_str) == 0):
            count += 1
            if (row['winner'] == 'white'):
                score += 1
            elif (row['winner'] == 'black'):
                score -= 1
    return score / count

In [157]:
eval_position("a4", df)

-0.32142857142857145

Naive implementation of an engine that plays moves with the best average raw score value, as calculated by eval_position. The user plays white, so the engine plays moves with the lowest score.

In [158]:
def play():
    games = df.copy()
    curr_moves = []
    move_count = 0
    
    while (not games.empty):
        user_move = input(">>> ")
        curr_moves.append(user_move)
        move_count += 1
        possible_moves = {}
        
        for row in games.iterrows():
            #if (row[1]['moves_tok'][:move_count] != moves):
                #new_games.drop(row[0], inplace=True)
            possible_moves.add()
        

        count -= 1

In [ ]:
play()

>>> e4
['e4']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12598 entries, 2 to 20056
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              12598 non-null  object
 1   rated           12598 non-null  bool
 2   created_at      12598 non-null  float64
 3   last_move_at    12598 non-null  float64
 4   turns           12598 non-null  int64
 5   victory_status  12598 non-null  object
 6   winner          12598 non-null  object
 7   increment_code  12598 non-null  object
 8   white_id        12598 non-null  object
 9   white_rating    12598 non-null  int64
 10  black_id        12598 non-null  object
 11  black_rating    12598 non-null  int64
 12  moves           12598 non-null  object
 13  opening_eco     12598 non-null  object
 14  opening_name    12598 non-null  object
 15  opening_ply     12598 non-null  int64
 16  moves_tok       12598 non-null  object
dtypes: bool(1), float64(2), int64(4), object(10)
memory usage: 1.6+ MB
None

In [ ]:
df1 = df.copy()
df1.drop(0, inplace=True)
df1.head()